{% include "header.html" %}

<script type="text/front-matter">
  title: "{{ site_name }}"
  description: "{{ site_description }}"
  authors:
  - {{ author[0]['name'] }}: {{ author[0]['url'] }}
  affiliations:
  - {{ author[0]['affiliation_name'] }}: {{ author[0]['affiliation_url'] }}
</script>

<dt-header>
<div class="content l-page">
<a href="./" class="logo">
<i class="fa fa-magic" aria-hidden="true"></i>
{{ site_name }}
</a>
</div>
</dt-header>

{% block content %}{% endblock %}

{% include "footer.html" %}

